<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521900596279-27kofcdi2gi7l2jj35ues01h6g06d23k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521900596279-27kofcdi2gi7l2jj35ues01h6g06d23k</string>
	<key>API_KEY</key>
	<string>AIzaSyAdbcH0sX_5jaWDaiG1WkUL0e7viB5IOug</string>
	<key>GCM_SENDER_ID</key>
	<string>521900596279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haleylai.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-94de4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-94de4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521900596279:ios:aa518041865a33203333b2</string>
</dict>
</plist>